
.sticky-mobile-layout-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  left: 0;
}

.sticky-mobile-layout-footer {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto; /* This will make the div have a static height */
  flex-shrink: 0;
  flex-direction: column;
  z-index: 10;
  justify-content: flex-start;
}

.sticky-mobile-layout-calculated-height {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: sans-serif;
  position: relative;
  width: 100%;
  align-items: flex-start;
  text-align: flex-start;
  font-size: 10px;
  font-family: sans-serif;
}